@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
  overflow: hidden;
  background-color: #2b4eff;
}

.container {
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  flex-direction: column;
  border: 2px #000000 solid;
  padding: 20px;
  width: calc(250px * (16 / 9));
}

.title {
  font-size: 30px;
  margin-bottom: 5px;
}

.joke {
  margin-top: 10px;
  margin-bottom: 20px;
}
